.jumbotron {
    /*margin-bottom: 0px;*/
    background: url("img/usf-banner.jpg");
    /*background-position: 0% 25%;*/
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /*text-shadow: black 0.3em 0.3em 0.3em;*/
}

h1 {
    font-size: 250%;
}

.jumbotron h1{
    color: gold;
    padding-left: 2em;
}
.jumbotron p{
    padding-left: 8em;
}
