.jumbotron {
    background: url("img/usf-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

h1 {
    font-size: 250%;
}

.jumbotron h1{
    color: gold;
    padding-left: 2em;
}
.jumbotron p{
    padding-left: 8em;
}
