<div class="container">
  <div class="page-header">
    <h1>Home Page</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2>About</h2>
    <p>Here you can vote for your favorite websites. You can log in on the Login page, vote on the Vote page, and view results on the View Results Page. Instructors and TA's can upload a CSV of users and their passwords on the Upload page, as well a a zip file of websites to vote on.</p>
  </div>
  <div class="row">
    <h2>The Team</h2>
    <p>Jacob Hansil</p>
    <p>Benjamin Dixon</p>
    <p>Eyerus Argaw</p>
  </div>
</div>
