<div class = "container">
  <div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Login Successful
  </div>
</div>

<div class = "container">
  <h1>Login:</h1>
  <br><br>
</div>

<div class="container">
    <% if session[:flash] %>
        <p><%= display_flash(:flash) %></p>
    <% end %>

    <% if !@user %>
        <form action="/user/authenticate" method="post">
          Username : <input type="text" name="name"/><br/>
          Password : <input type="password" name="password"/><br/>
          <input type="submit" value="Login"/>
        </form>

        <p><a href="/signup"> First time? Sign Up Now!</a></p>
    <% else %>
        <p>Hello <%= @user.name %></p>
        <form action="/user/logout" method="post">
          <input type="submit" value="logout"/>
        </form>
    <% end %>
</div>