<div class = "container">

</div>

<div class = "container">
  <h1>Sign-up:</h1>
  <br><br>
</div>

<div class="container">
  <% if session[:flash] %>
      <p><%= display_flash(:flash) %></p>
  <% end %>

  <form action="/user/create" method="post">
    Username: <input type="text" name="name"/><br/>
    Password: <input type="password" name="password"/><br/>
    Confirm Password: <input type="password" name="password2"/><br/>
    <input type="submit" value="signup"/>
  </form>
</div>