<div class="container">
  <!--<div class="alert alert-success alert-dismissable fade in">-->
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    <!--<strong>Success!</strong> Upload Successful-->
  <!--</div>-->

  <h1>Upload users here: </h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="users" >
    <br>
    <input type="submit" value="Upload!">
  </form>

  <h1>Instructors can upload websites here: </h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="sites" >
    <br>
    <input type="submit" value="Upload!">
  </form>
</div>