<script>
  function addSite (site_path) {
      num_sites += 1;

      //Form entry for First Place
      var option1 = document.createElement('option');
      option1.setAttribute('id', 'site' + num_sites + '-1'); // assign an id
      var t1 = document.createTextNode("Website "+num_sites);
      option1.appendChild(t1);

      //Form entry for Second Place
      var option2 = document.createElement('option');
      option2.setAttribute('id', 'site' + num_sites + '-2'); // assign an id
      var t2 = document.createTextNode("Website "+num_sites);
      option2.appendChild(t2);

      //Form entry for Third Place
      var option3 = document.createElement('option');
      option3.setAttribute('id', 'site' + num_sites + '-3'); // assign an id
      var t3 = document.createTextNode("Website "+num_sites);
      option3.appendChild(t3);

      //Append each option onto the appropriate form
      var form1 = document.getElementById('vote-1');
      form1.appendChild(option1);
      var form2 = document.getElementById('vote-2');
      form2.appendChild(option2);
      var form3 = document.getElementById('vote-3');
      form3.appendChild(option3);

      //Create the iframe title
      var iframename = document.createElement('H2');
      var t = document.createTextNode("Website "+num_sites);
      iframename.appendChild(t);

      //Create the iframe and insert the site
      var iframe = document.createElement('iframe');
      iframe.setAttribute('id', 'iframe'+num_sites); // assign an id
      var el = document.getElementById('sites');
      el.appendChild(iframename);
      iframename.appendChild(iframe);
      iframe.setAttribute('src', site_path);
      iframe.setAttribute('height', '500');
      iframe.setAttribute('width', '100%');
  }

  function addSites() {
      if (sites.length != 0)
      {
          var element = document.getElementById("no-sites");
          element.parentNode.removeChild(element);
          sites.map(addSite);
      }
  }
  num_sites = 0;
  var sites = ['uploads/sites/Bootstrap/Bootstrap.html','uploads/sites/WebApps Midterm/benford.html',
               'uploads/sites/Restaurant HTML/menu.html'];
  //var sites = [];
  window.onload = addSites;
</script>

<div class = "container">
  <h2 id="no-sites">There are no websites uploaded yet :(</h2>

  <form method ="post" enctype="multipart/form-data">
    <div  class="col-xs-2">
    <div class="form-group">
      <label for="vote-1">First Place:</label>
      <select class="form-control" id="vote-1">

      </select>
      <label for="vote-2">Second Place:</label>
      <select class="form-control" id="vote-2">

      </select>
      <label for="vote-3">Third Place:</label>
      <select class="form-control" id="vote-3">

      </select>
      <br>
      <button type="submit" class="btn btn-primary" value="vote">Vote</button>
    </div>
    </div>
  </form>
</div>

<div class = "container">
  <div id="sites"></div>
</div>