<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <title>Peer Review Web App</title>
</head>
<body>
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Web Apps Design</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/vote">View Websites</a></li>
          <li><a href="/results">View Results</a></li>
          <li><a href="/upload">Upload</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--<div class="container">-->
  <div class="jumbotron">
    <h1>Peer Review Web App</h1>
    <p>Review your peers web sites and vote for your favorite!</p>
  </div>
  <!--</div>-->



  <section>
    <%= yield %>

  </section>
  <br><br><br><br>
</header>
</body>
</html>
