p{color: black; background-color:azure; text-align: center}
h1{text-align: center; color: aqua; background-color: hotpink}
h2{text-align: center; color:aqua}
h3{color: black; text-align: center}
ul li{text-align: center; color:black; background: #cce5ff}
ul{list-style-type: circle; list-style-position: inside}

table {border-collapse: collapse; 
    width: 100%;
}
th, td {
    padding: 8px; 
    text-align: center; 
    border-bottom: 1px solid #ddd;
}


