<div class="container">
  <h1>Instructors can upload websites and users here: </h1>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Upload Websites</button>
    <button type="button" class="btn btn-primary">Upload Users</button>
  </div>
</div>